<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".testActivity"></activity>

    </application>

</manifest>